@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri, Helvetica, Roboto , Arial , sans-serif;
	text-align: left;
	margin: 0;
	padding: 0;
	color: #cccccc;
	background-color: #151515;
	position: relative;
}

#wrapper {
    width: 100%;
	min-width: 740px;
	max-width: 2000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	top: 0px;
	bottom: 0px;
	height: auto;
	overflow-y: auto;
}

#maintenance {
    text-align: center;
    padding-top: 25px;
    background-color: #e6b82e;
    color: #111111;
    height: 50px;
}

/* Header */
#webpageHead {
	width: 100%;
	min-height: 125px;
	height: auto;
	line-height: 90px;
}

#header {
	text-align: Left;
	font-size: 20px;
	background-color: #1A1A1A;
	height: auto;
	width: 40%;
}

#header h1 {
	padding-left: 35px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* Navigation Bar */
#navigation {
	background-color: #1A1A1A;
	height: auto;
	width: 60%;
	float: right;
}

#navigation ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
}

#navigation li {
	display: inline-block;
	margin: 0 10px;
	padding: 0 15px;
}

#navigation a {
	width: 165px;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	color: #C1C1C1;
	background-color: #1A1A1A;
}

/* Content */
#embeded{
	margin-left: 15%;
	margin-right: 15%;
}

#article{
	text-align: center;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	width: auto;
	
}

#objective {
	text-align: center;
}

#boxTitle {
	padding-bottom: 10px;
}

#boxTitle h3 {
	font-size: 26px;
}

#boxText {
	text-align: left;
	font-size: 20px;
}

#boxText ul{
	text-align: center;
	list-style-type: none;
}

#Team h3{
	font-size: 26px;
}

.box {
	display: inline-block;
	width: 25%;
	padding: 30px 35px;
	background-color: rgb(28, 28, 31);
	box-sizing: border-box;
	vertical-align: top;
}
#article2{
	margin: 0px;
	padding: 0px;
	height: auto;
	text-align: center;
}
#rocketIntro{
	text-align: center;
	width: 500px;
	display: inline-block;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
}
#articleTitle{
	text-align: center;
}
#articleTitle h3{
	font-size: 26px;
}
#introDescription{
	text-align: left;
}
#introDescription p{
	font-size: 20px;
}
#rocketInfo{
	padding-top: 30px;
	padding-left: 400px;
	text-align: left;
	border-bottom: 1px solid #33AA33;
}

#rocketInfo p{
	font-size: 26px;
	height: 30px;
	width: 40%;
}
#loadstar2{
	width: 40%;
	display: inline-block;
}
.specs{
	padding-left: 0;
	display: inline-block;
}
.specs ul{
	font-size: 20px;
	list-style-type: none;
	text-align: left;
}
.specs li{
	height: 75px;
}
.rocketPic{
	width: 50%;
	padding-left: 200px;
	display: inline-block;
}


/* Resource CSS */
#articleLeft{
	width: 40%;
	background-color: rgb(28, 28, 31);
	min-height: 750px;
	height: auto;
	padding-top: 25px;
	padding-left: 25px;
}

/* Footer */
#footer {
	width: auto;
	min-height: 100px;
	height: auto;
	margin: 0;
	padding-top: 25px;
	padding-left: 25px;
	background-color: #222;
	color: #ABABAB;
}

@media only screen and (max-width: 1165px) {
	#navigation {
		float: none;
		width: 100%;
		line-height: 50px;
		border-bottom: 1px solid #33AA33;
	}

	#navigation a {
		width: 85px;
		font-size: 15px;
		padding-top: 15px;
		padding-bottom: 10px;
	}

	#header {
		text-align: Left;
		font-size: 15px;
		background-color: #1A1A1A;
		height: auto;
		width: 100%;
	}
}